body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('https://th.bing.com/th/id/OIP.HW3GEKmRq-KMPlDKacZ8zAHaEo?w=306&h=191&c=7&r=0&o=5&dpr=2.2&pid=1.7');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fa-xmark {
    float: right;
    color: red;
    margin-bottom: 10px;
}

/* form {
    background-color: rgba(249, 250, 250, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 90%;
    margin: 10% auto;
} */
form {
    background-color: rgba(255, 255, 255, 0.2);  /* transparent white */
    backdrop-filter: blur(10px);  /* blur background image under form */
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);  /* shadow for better visibility */
    width: 500px;
    max-width: 90%;
    margin: 10% auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: rgb(30, 98, 215);
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

h3 {
    margin-top: 40px;
}

button {
    background-color: #108cea;
    color: white;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}
