
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(/static/images/welcome\ pic.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* Makes the background sticky */
    background-position: center;
}

.hero1 {
    height: 100vh;
    background-image: url(/static/images/welcome\ pic.jpg) no-repeat center center/cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}

.hero-content1 h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
    animation: fadeInDown 1.5s ease-in-out;
}

.hero-content1 p {
    font-size: 1.5rem;
    color: white;

    animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.countdown-section {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    color: rgb(255, 0, 0);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

#countdown {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
}

.trending-events {
    text-align: center;
    padding: 100px 10px;
    background: #f9f9f9;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.carousel-container {
    overflow: hidden;
    width: 80%;
    margin: auto;
    position: relative;
}

.carousel {
    display: flex;
    gap: 30px;
   
}

.event-card {
    flex: 0 0 200px;
    padding: 150px 90px;   
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.3s;
    
}
.event-card1{
    background-image: url(/static/images/event1.jpg);
    background-size: cover;
    background-position: center;
}
.event-card2{
    background-image: url(/static/images/event2.jpg);
    background-size: cover;
    background-position: center;
}
.event-card3{
    background-image: url(/static/images/event3.jpg);
    background-size: cover;
    background-position: center;
}
.event-card4{
    background-image: url(/static/images/event4.jpg);
    background-size: cover;
    background-position: center;
}
.event-card5{
    background-image: url(/static/images/event5.jpg);
    background-size: cover;
    background-position: center;
}

.event-card:hover {
    transform: scale(1.1);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-220px); }
}
.why-choose-us {

    padding: 60px 20px;
    text-align: center;
    background-color: #f8f8f8f4;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.why-choose-us h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.why-choose-us .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.why-choose-us .card:hover {
    transform: translateY(-10px);
}

.why-choose-us .card img {
    border-radius: 10px 10px 0 0;
}

.why-choose-us .card-body {
    padding: 20px;
}

.why-choose-us .card-title {
    font-size: 1.5rem;
    color: var(#2575fc);
}

.testimonials {
  padding:60px 20px ;

}

.testimonials h2 {
    font-size: 2.5rem;
    color: #f9f9f9;
    text-align: center;
    margin-bottom: 40px;
}
.testimonial-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center; /* Center content */
    width: 280px; /* Set a fixed width */
}

.testimonial-card:hover {
    transform: translateY(-10px);
}

.testimonial-avatar {
    width: 90px; 
    height: 100px; 
    border-radius: 30%;
    object-fit: cover;
    margin-bottom: 10px;
}

.featured-events {
    background-color: white;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 60px 20px;
    text-align: center;
}

.featured-events h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.featured-events .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.featured-events .card:hover {
    transform: translateY(-10px);
}

.featured-events .card img {
    border-radius: 10px 10px 0 0;
}

.featured-events .card-body {
    padding: 20px;
}

.featured-events .card-title {
    font-size: 1.5rem;
   color: #6d4a4a;
}

.section-container {
    background-color: #eeeeee;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display: flex;
    flex-wrap: wrap;
    padding: 60px 20px;

}

.left-column {
    flex: 1;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.right-column {
    flex: 1;
    max-width: 50%;
    padding: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.right-column h2 {
    font-size: 2.5rem;
    color: red;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.right-column p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(333);
    font-family: 'Poppins', sans-serif;
}

.right-column .highlight {
    color: var(#ff6f61);
    font-weight: bold;
}

@media (max-width: 768px) {

    .left-column,
    .right-column {
        max-width: 100%;
        flex: 100%;
    }

    .left-column {
        grid-template-columns: 1fr;
    }
}

.contact-us {

    padding: 60px 20px;
}
.contact-us h1{
    color: white;
}
.contact-us h2 {
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
}

.contact-us p {
    color: #fff;
}

.contact-form {
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form .btn {
    background-color: rgb(101, 157, 221);
    border: none;
    transition: background-color 0.3s ease;
}

.contact-form .btn:hover {
    background-color:rgb(101, 157, 221);
}

.faq {
    background-color: white;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 60px 20px;
}

.faq h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.faq .accordion-button {
    background-color: #9ab3dc;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.faq .accordion-button:not(.collapsed) {
    background:linear-gradient(to bottom ,rgb(230, 170, 109), rgb(240, 134, 63));
    color: white;
}

.map {
    background-color: #fff;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 60px 20px;
}

.map h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.map iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* live analytics */

.live-analytics {
    text-align: center;
    padding: 50px;
    color: white;
}


.newsletter {
    background-color: rgb(45, 41, 41);
    padding: 60px 20px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    text-align: center;
    color: white;
}

.newsletter h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.newsletter p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.newsletter .form-control {
    max-width: 400px;

}

.newsletter .btn {
    background-color: #1995AD;
    border: none;
    transition: background-color 0.3s ease;
}

.newsletter .btn:hover {
    background-color: rgb(255, 77, 0);
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }

    .why-choose-us .card,
    .featured-events .card {
        margin-bottom: 20px;
    }
}

.btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}



.loader {
    width: 90px;
    height: 14px;
    box-shadow: 0 3px 0 #fff;
    position: relative;
    clip-path: inset(-40px 0 -5px)
  }
  .loader:before {
    content: "";
    position: absolute;
    inset: auto calc(50% - 17px) 0;
    height: 50px;
    --g:no-repeat linear-gradient(#ccc 0 0);
    background: var(--g),var(--g),var(--g),var(--g);
    background-size: 16px 14px;
    animation:
      l7-1 2s infinite linear,
      l7-2 2s infinite linear;
  }
  @keyframes l7-1 {
    0%,
    100%  {background-position: 0 -50px,100% -50px}
    17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
    35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
    52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
    70%,
    98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
  }
  @keyframes l7-2 {
    0%,70% {transform:translate(0)}
    100%  {transform:translate(200%)}
  }









