{% extends 'base.html' %}
{% load static %}


{% block title %}Add Admin Page {% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/add_admin.css' %}">{% endblock %}
{% block content %}
<div class="admin-container">
    <h2 class="admin-heading">Add New Admin</h2>

    <div class="admin-card">
        <form method="POST" enctype="multipart/form-data" class="admin-form">
            {% csrf_token %}
            <div class="form-grid">
                {% for field in form %}
                    <div class="form-group {% if field.field.widget.input_type == 'checkbox' %}checkbox-group{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn-submit">➕ Add Admin</button>
                <a href="{% url 'list_admins' %}" class="btn-view">👀 View All Admins</a>
                <a href="{% url 'super_admin_dashboard' %}" class="btn-cancel">❌ Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

